Repository leosuncin/fakeshop-redux-example: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["eslint --fix"],
  "*.{json,md,css,yml}": ["prettier --write"]
}

style: format index.html
  .prettierignore
  index.html
Due: none

docs: set license to GPL v3.0
  LICENSE
  package.json
Due: prettier --write

feat: set the app layout and routes
  src/App.tsx
  src/features/layout/Header.tsx
Due: eslint --fix

feat: add products slice
  src/app/store.ts
  src/app/types.d.ts
  src/features/products/productsSlice.ts
Due: eslint --fix

feat: show details of one product
  src/features/products/ProductDetails.tsx
Due: eslint --fix

chore: add product fixtures
  src/fixtures/products.json
  src/fixtures/products.json.d.ts
Due: eslint --fix, prettier --write

feat: list products
  src/features/products/ProductList.tsx
Due: eslint --fix

fix: amend eslint errors
  src/App.test.tsx
  src/features/layout/Header.test.tsx
  src/features/products/ProductDetails.test.tsx
  src/features/products/ProductList.test.tsx
  src/features/products/productsSlice.test.ts
Due: eslint --fix

test: add unit test of reducer, thunks and selectors from products slice
  package.json
  pnpm-lock.yaml
  src/features/products/productsSlice.test.ts
Due: eslint --fix, prettier --write

test: add unit test for the details of one product
  src/features/products/ProductDetails.test.tsx
  src/features/products/ProductDetails.tsx
Due: eslint --fix

chore: update .gitignore
  .gitignore
Due: none

fix: add rating to product interface
  src/app/types.d.ts
Due: eslint --fix

build: add eslint rules for tests
  .eslintrc.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

test: add unit test with chai-dom
  package.json
  pnpm-lock.yaml
  src/features/layout/Header.test.tsx
Due: eslint --fix, prettier --write

test: mock network request using fetch-mock
  package.json
  pnpm-lock.yaml
  src/features/products/ProductDetails.test.tsx
  src/features/products/ProductList.test.tsx
  src/features/products/productsSlice.test.ts
  vite.config.ts
Due: eslint --fix, prettier --write

test: add integration test for the app
  src/App.test.tsx
Due: eslint --fix

feat: setup MSW
  .gitignore
  package.json
  pnpm-lock.yaml
  src/main.tsx
  src/mocks/handlers.ts
Due: eslint --fix, prettier --write

docs: add README.md
  README.md
  package.json
Due: prettier --write

feat: install Semantic UI
  index.html
  package.json
  pnpm-lock.yaml
  src/App.css
  src/index.css
Due: prettier --write

feat: setup redux
  package.json
  pnpm-lock.yaml
  src/app/hooks.ts
  src/app/store.ts
  src/main.tsx
Due: eslint --fix, prettier --write

test: add unit test for the list of products
  src/features/products/ProductList.test.tsx
  src/features/products/ProductList.tsx
Due: eslint --fix

chore: lint commit messages
  .commitlintrc.json
  .husky/commit-msg
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: setup react router
  package.json
  pnpm-lock.yaml
  src/main.tsx
Due: eslint --fix, prettier --write

ci: lint and run tests
  .github/workflows/ci.yml
Due: prettier --write

build: update tsconfig.json to include all ts files
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

ci: retry to run unit test
  .github/workflows/ci.yml
Due: prettier --write
